@import '_vars.scss';
@import '_mixin.scss';

@media (max-width: 1600px) {
    .container {
        margin-right: 30px;
        margin-left: 30px;
    }
    .max-container {
        margin-bottom: 70px;
    }
    .button-overlay {
        transform: rotate(90deg);
        left: -55px;
        padding: 12px 32px;
        font-size: 16px;
        border-radius: 10px;
    }
    .header {
        &__container {
            position: relative;
            margin-right: 0;
            margin-left: 0;
            padding-left: 30px;
            padding-right: 30px;
            padding-top: 30px;
            .header__top {
                .header__logo {
                    svg {
                        width: 250px;
                    }
                }
                .header__nav {
                    visibility: hidden;
                    transform: translateY(-150%);
                    position: absolute;
                    background-color: $primary-dark;
                    right: 0;
                    top: 40px;
                    padding: 100px 200px 100px 100px;
                    border-radius: 42px 0 0 42px;
                    transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
                    &--active {
                        visibility: visible;
                        transform: none;
                    }
                }
                .nav__list {
                    flex-direction: column;
                    padding: 0;
                }
                .header__number {
                    font-size: 16px;
                }
                .header__button {
                    padding: 15px 25px;
                    font-size: 16px;
                }
                .burger {
                    display: block;
                    width: 26px;
                }
            }
            .header__bottom {
                .header__wrap-1 {
                    .header__title {
                        font-size: 130px;
                    }
                    .header__text {
                        font-size: 14px;
                    }
                }

                .header__wrap-2 {
                    gap: 60px;
                    .header__title {
                        font-size: 130px;
                    }
                    .header__text {
                        font-size: 14px;
                    }
                }
            }
        }
    }
    .about {
        &__container {
            .about__title {
                width: 590px;
                font-size: 50px;
            }
            .swiper {
                margin: 0;
                &-slide {
                    .slide__text {
                        gap: 12px;
                        width: 40%;
                        padding: 0 15px;
                        font-size: 18px;
                    }
                }
            }
            .about__map {
                margin: 0;
                gap: 0;
                justify-content: space-between;
                .map {
                    max-width: 50%;
                    max-height: 400px;
                }
                .about__content {
                    max-width: 45%;
                    .about__text {
                        font-size: 16px;
                    }
                    .about__button {
                        width: auto;
                        font-size: 16px;
                        padding: 18px 30px;
                    }
                }
            }
        }
    }
    .catalog {
        &__container {
            .catalog__wrap {
                .catalog__title {
                    font-size: 50px;
                }
                .catalog__text {
                    font-size: 16px;
                }
            }
            .catalog__tabs {
                max-width: 300px;
                .catalog__tab {
                    padding: 15px 25px;
                    font-size: 16px;
                }
            }
            .swiper {
                &-wrapper {
                    .slide {
                        min-height: 400px;
                        &__imgs {
                            // margin-bottom: 28px;
                            .imgs__wrap {
                                .minor-img {
                                    // margin: 0;
                                    // max-width: 49%;
                                    // // height: 175px;
                                    // border-radius: 20px;
                                    // object-fit: cover;
                                    // object-position: top center;
                                    // display: block;
                                    max-height: 125px;
                                }
                                span {
                                    // display: flex;
                                    // min-width: 49%;
                                    // justify-content: center;
                                    // align-items: center;
                                    // background-color: #ffffff;
                                    // border-radius: 20px;
                                    // overflow: hidden;
                                    max-height: 125px;
                                    img {
                                        // min-width: none;
                                        // display: block;
                                        // // max-height: 147px;
                                        // height: 100%;
                                    }
                                }
                            }
                            .main-img {
                                // border-radius: 20px;
                                // margin-bottom: 10px;
                                // width: 100%;
                                // object-fit: cover;
                                // object-position: top center;
                                // max-height: 320px;
                            }
                        }
                    }
                    .swiper-slide-active {
                        // opacity: 1;
                        transition: transform 0.3s ease-in-out;
                        transform: translateY(60px) scale(1.19);
                    }
                }
                .swiper-button-prev {
                    left: 43%;
                }
                .swiper-button-next {
                    right: 43%;
                }
            }
            .catalog__tour {
                max-width: 994px;
                .tour__text {
                    font-size: 16px;
                }
                .tour__wrap {
                    padding: 20px 120px;
                    .tour__button {
                        padding: 16px 60px;
                        font-size: 16px;
                    }
                }
            }
        }
    }
    .characteristics {
        &__container {
            .characteristics__title {
                width: 600px;
                font-size: 50px;
            }
            .characteristics__cards {
                gap: 30px;
                .card {
                    max-width: 400px;
                    &__title {
                        font-size: 28px;
                    }

                    &__list {
                        min-height: 175px;
                        .list__item {
                            font-size: 18px;
                        }
                    }
                }
            }
            .characteristics__button {
                font-size: 16px;
                padding: 16px 40px;
            }
        }
    }
    .homeForFamily {
        &__container {
            margin-left: 0;
            margin-right: 0;
            .homeForFamily__wrap {
                padding-left: 30px;
                .homeForFamily__title {
                    font-size: 50px;
                }
                .homeForFamily__tabs {
                    gap: 24px;
                    .homeForFamily__tab {
                        font-size: 16px;
                        padding: 16px 24px;
                    }
                }
            }
            .homeForFamily__plan {
                max-width: 350px;
                top: 250px;
                right: 30px;
                text-align: center;
                img {
                    margin-bottom: 12px;
                }
                .homeForFamily__text {
                    font-size: 16px;
                    padding: 0 12px;
                    margin-bottom: 12px;
                }
                .homeForFamily__button {
                    font-size: 16px;
                    margin: 0;
                    margin-bottom: 12px;
                    padding: 18px 40px;
                }
            }
            .homeForFamily__map {
                background-size: cover;
                min-height: 576px;
                .homeForFamily__info {
                    max-width: 400px;
                    padding: 20px;
                    .homeForFamily__size {
                        &-line {
                            &:first-child {
                                font-size: 40px;
                            }
                            &:last-child {
                                font-size: 20px;
                            }
                        }
                    }
                    .homeForFamily_text {
                        font-size: 16px;
                    }
                }
            }
        }
    }
    .pluses {
        &__container {
            .pluses__title {
                font-size: 50px;
            }
            .pluses__cards {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap: 30px;
                .card {
                    max-width: 400px;
                    &__title {
                        font-size: 28px;
                    }
                    &__list {
                        .list__item {
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }
    .buy {
        &__container {
            .buy__title {
                font-size: 50px;
            }
            .buy__cards {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-column-gap: 32px;
                .card {
                    &__title {
                        font-size: 18px;
                    }
                }
                // margin-bottom: 64px;
                // @include card;
            }
        }
    }
    .design {
        &__container {
            .design__title {
                margin-bottom: 60px;
                font-size: 50px;
            }
            .swiper {
                &-wrapper {
                    .swiper-slide {
                        height: 400px;
                    }
                }
            }
        }
    }
    .building {
        &__container {
            .building__wrap {
                .building__title {
                    font-size: 50px;
                }
                .building__button {
                    font-size: 16px;
                    padding: 16px 30px;
                }
                .building__text {
                    font-size: 16px;
                }
            }
            .card {
                max-width: 768px;
                flex-direction: column-reverse;
                &__content {
                    padding: 30px 20px 0px 20px;
                    .card__text {
                        font-size: 18px;
                    }
                    .card__button {
                        padding: 12px 30px;
                        margin-bottom: 30px;
                    }
                }
            }
            .building__videos {
                .swiper {
                    &-wrapper {
                        .swiper-slide {
                            iframe {
                                height: 400px;
                            }
                        }
                    }
                }
            }
        }
    }
    .feedback {
        margin-bottom: 100px;
        &__container {
            margin-left: 0;
            margin-right: 0;
            .feedback__wrap {
                padding: 42px;
                .feedback__text {
                    font-size: 16px;
                }
                .feedback__form {
                    .feedback__input {
                        font-size: 16px;
                        padding: 16px;
                        margin-bottom: 20px;
                    }
                    .feedback__button {
                        font-size: 16px;
                        margin-top: 0;
                        margin-bottom: 20px;
                    }
                    .checkbox {
                    }
                    .checkbox + label::before {
                        width: 12px;
                        height: 12px;
                        margin-right: 5px;
                    }
                }
            }
        }
    }
    .footer {
        padding-bottom: 50px;
        &__container {
            margin-bottom: 0;
            .footer__logo {
                svg {
                    width: 250px;
                }
            }
            .nav {
                display: none;
            }
            .footer__network {
                .footer__text {
                    font-size: 16px;
                }
            }
        }
    }
}

@media (max-width: 1160px) {
    .about {
        &__container {
            .swiper {
                &-slide {
                    .slide__text {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}
